@font-face {
  font-family: permanentMarker;
  src: url('../../assets/fonts/PermanentMarker-Regular.ttf')
}

@font-face {
  font-family: gochiHand;
  src: url('../../assets/fonts/GochiHand-Regular.ttf')
}

.homeButton {
  background-color: 'transparent';
  border: none;
  color: white;
  align-items: center;
  display: inline-block;
  border-radius: 10px;
  width: 55px;
}