@font-face {
  font-family: routeFont;
  src: url('../assets/fonts/GochiHand-Regular.ttf');
}
.example {
  background-color: #eee;
  height: 100vh;
  overflow-y: scroll; /* Add the ability to scroll */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.example {
  -ms-overflow-style: none;
}